.features{
 margin-bottom: 180px;
    @media (max-width: 575.98px) {
        p{
            font-size: 0.7325rem;
        }
        .feature {
            .tab-content {
                .tab-pane{
                    .con1{
                        .buttonHeader{
                            .btn1{
                                display: none;
                            }
                        }
                    }
                }
            }
           
        }
     }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    p{
        font-size: 0.7325rem;
    }
    .feature {
        .tab-content {
            .tab-pane{
                .con1{
                    .buttonHeader{
                        .btn1{
                            display: none;
                        }
                    }
                }
            }
        }
       
    }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    p{
        font-size: 1.125rem;
       } 
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
}