header{
    .con1{
        h1{
            padding-top: 50px;
            text-align: center;
            
        }
        p{
            padding-top: 30px;
            text-align: center;
            
        }
        .buttonHeader{
            .btn1{
             border: none;
             outline: none;
             width: 135px;
             border-radius: 5px;
             margin-right: 30px;
             background-color: hsl(231, 69%, 60%);

            }
            .btn2{
                border: none;
                outline: none;
                width: 135px;
                height: 30px;
                border-radius: 5px;
             &:hover{
                 background-color: hsl(231, 69%, 60%);
             }
            }
        }
    }

    .con2{
        
       padding-top: 50px;
      
      
     
      
    }

    // X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .con1{
        p{
            font-size: 0.7325rem;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .con1{
        p{
            font-size: 0.7325rem;
        }
        
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
   .con1{
       p{
    font-size: 1.125rem;
   } 
}
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
 
 }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
}